<h1>Sign Up</h1>
<%= form_for @user, :as => :user, :url => sign_up_create_path,:html => {:multipart => true}, :method => "post" do |f| %>
<p>
<%= f.label :first_name %><br />
<%= f.text_field :first_name %>
</p>

<p>
<%= f.label :last_name %><br />
<%= f.text_field :last_name %>
</p>

<p>
<%= f.label :email %><br />
<%= f.email_field :email %>
</p>

<p>
<%= f.label :profile_photo %><br />
<%= f.file_field :profile_picture %>
</p>

<p>
<%= f.label :cover_photo %><br />
<%= f.file_field :cover_photo %>
</p>

<p>
<%= f.label :password %><br />
<%= f.password_field :password %>
</p>

<p>
<%= f.label :password_confirmation %><br/>
<%= f.password_field :password_confirmation %>
</p>
<p class="button"><%= f.submit %></p>
<% end %>
