

<div id="log_ban" class="loginbanner1">
    	<div class="content">
<h2 class="slogan" style="margin-top: 66px; left: -422px; right: 84px;">
        	<span>… Delivering Wishes...</span>


        </h2>
       

<div class="memberlogin group" style="left: 307px; right: 33px; top: -59px; bottom: -9px; margin: 0px 247px 21px 29px; height: 301px; padding: 15px 0px 0px 25px; border-right-width: 62px; border-top-width: 0px; border-bottom-width: 0px; width: 578px;">
<h1>Wish List</h1>

<i>
  <p class="caps"><%= t :No_more_disappointing_surprises %>!</p>
<p><%= t :No_more_more_problems_with_what_to_buy_for_your_friends %>!</p>
<p><%= t :Keep_a_list_things_you_would_like_to_have_and_share_it_with_your_mates %>!</p>
<p><%= t :No_additional_registration_required %>,<%= t :use_your_facebook_account %>!</p>
</i>
<%= t :Just %> <a href="/auth/facebook"><%= t :Login_With_Facebook%></a>&nbsp;&nbsp;<a href="/user/new"><%= t :Sign_up_with_Email %></a>
</div>


          

        </div>
	</div>






