<!DOCTYPE html>
<html>
<head>
  <title>WishList</title>
   <link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/ui.all.css" type="text/css" media="screen" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/interaction.js"></script>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
   <% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>
  <div id="header">
    	<div class="group">
            	<a href=""> <h1 class="logo-sales logo_bus"></h1></a>
           <div class="header_info">
                <!--<p class="activity friends"><a href="#" class="icons">Invite Friends</a></p>
                <p class="activity mobapp"><a href="#" class="icons">Mobile App</a></p>-->
                <!-- <span id="signup">Sign up</span>-->
                <!--<p class="login"><a href="#" class="icons" id="login">Login</a></p>-->
<% if (session[:user_id]).present? %>
                <div class="activity loggedinfo"><b><em>Logged in as </em> <%= getUserNamebyId(session[:user_id]) %>&nbsp;<%= getUserLastNamebyId(session[:user_id]) %></b><span class="caret"></span>
                	<div class="loglist">
                    	<div class="holder">
                        <div class="arrowup"></div>
                            <ul>

                              <li> <td></td></li>
                            <li> <%= link_to "Profile Information" , profile_path(session[:user_id])%></li>
                             <li><%= link_to "Sign out", :signout %></li>

                            </ul>
                         </div>
                     </div>
                </div>
                <form action="#" method="get" class="activity loggedinfo">
<select name="locale" onchange="this.form.submit()">
    <option>Select Language</option>
    <option  value="en"  <%= (@user.locale=='en')?'selected="selected"':''%>>English</option>
    <option  value="rs" <%= (@user.locale=='rs')?'selected="selected"':''%>>Russian</option>
    <option  value="fn" <%= (@user.locale=='fn')?'selected="selected"':''%>>Finnish</option>
    <option  value="sd" <%= (@user.locale=='sd')?'selected="selected"':''%>>Swedish</option>
    <option  value="pl" <%= (@user.locale=='pl')?'selected="selected"':''%>>Polish</option>
   </select>
</form>
                <% end %>

           </div>
        </div>
    </div><!-- header ends-->


<%= yield %>
       <div id="footer">
    	<div class="content group">
            <div class="footerlist group">
                <ul class="group bus">
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="careers.html"></a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="terms.html">Terms</a></li>
                </ul>
                <p>&<%= t :copy %>2011-2012 WhishList.com. <%= t :All_rights_reserved %></p>
            </div>
        </div>
    </div><!-- footer ends -->
  </div>
   <%= yield(:script) -%>
<% unless flash[:notice].nil? and flash[:alert].nil? %>
<script type="text/javascript"> $(document).ready(function(){ $("#messages").fadeOut(2000); }); </script>
<% end %>
</body>
</html>
