<!DOCTYPE html>
<html>
<head>
  <title>WishList</title>
   <link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/ui.all.css" type="text/css" media="screen" />
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/interaction.js"></script>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
   <% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>
  <div id="header">
    	<div class="group">
            	<a href=""> <h1 class="logo-sales logo_bus"></h1></a>
            <div class="header_info">

              <p class="login">
<a id="login" class="icons" href="#">Login</a>
</p>
                <!--<p class="activity friends"><a href="#" class="icons">Invite Friends</a></p>
                <p class="activity mobapp"><a href="#" class="icons">Mobile App</a></p>-->
                <!-- <span id="signup">Sign up</span>-->
                <!--<p cls="login"><a href="#" class="icons" id="login">Login</a></p>-->
                <div class="activity loggedinfo">
                </div>
           </div>
        </div>
    </div><!-- header ends-->


<%= yield %>
       <div id="footer">
    	<div class="content group">
            <div class="footerlist group">
                <ul class="group bus">
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="careers.html"></a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="terms.html">Terms</a></li>
                </ul>
                <p>&<%= t :copy %>2011-2012 WhishList.com. <%= t :All_rights_reserved %></p>
            </div>
        </div>
    </div><!-- footer ends -->
  </div>
   <%= yield(:script) -%>
<% unless flash[:notice].nil? and flash[:alert].nil? %>
<script type="text/javascript"> $(document).ready(function(){ $("#messages").fadeOut(2000); }); </script>
<% end %>
</body>
</html>
